.link-container {
    text-align: justify;
    /* Optional: add some spacing between the links if desired */
    /* word-spacing: 100px; */
}

.table-of-companions.a {
    padding-left: 100px;
	padding-right: 100px;
}
